<!-- views/partials/header.handlebars -->

<header>
    <nav>
        <ul>
            <li><button onclick="window.location.href='/'">Home</button></li>
            <li><button onclick="window.location.href='/dashboard'">Dashboard</button></li>
            <li><button onclick="window.location.href='/login'">Login</button></li>
        </ul>
    </nav>
    <h1>The Tech Blog</h1>
</header>